{% extends 'base.html.twig' %}

{% block body %}
    <div id="product-preview">
        {% include('components/product.html.twig') %}

        <div class="product-order">
            {% include('components/button.html.twig') %}

{#            <button id="request" type="button" class="btn btn-lg btn-block request"#}
{#                    style="background-color: {{ currentCategory.color }};"#}
{#                    data-bs-toggle="modal"#}
{#                    data-bs-target="#request-modal-{{ product.id }}">Заяви#}
{#            </button>#}
        </div>
    </div>

    <div class="modal fade request-modal product-request-modal" id="request-modal-{{ product.id }}" tabindex="-1"
         role="dialog" aria-labelledby="requestModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="column">
                        <div class="head">
                            <button type="button" class="btn-close" aria-label="Close"></button>
                            <span class="headline title">{{ translations['Request for product']|trans }}</span><br/>
                        </div>
                    </div>
                    <form id="request-form-{{ product.id }}">
                        <div class="required">
                            <label>
                                <input name="name" placeholder="Име, Фамилия" type="text"
                                       class="block w-full px-2 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring"/>
                            </label>
                        </div>
                        <div class="required">
                            <label>
                                <input name="phone" placeholder="Телефон" type="text"
                                       class="block w-full px-2 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring"/>
                            </label>
                        </div>
                        <div class="required">
                            <label>
                                <input name="email" placeholder="Имейл" type="text"
                                       class="block w-full px-2 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring"/>
                            </label>
                        </div>
                        <div class="required">
                            <label>
                                <textarea name="message" rows="4" placeholder="Съобщение" class="block w-full h-48 px-2 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring">{{ (translations['Request for 1 count'] ~ ' "' ~ product.subTitle ~ '" ' ~ translations['with product code'] ~ ' "' ~ product.code ~ '".') | trans }}</textarea>
                            </label>
                        </div>
                        <input type="hidden" name="pid" value="{{ product.id }}"/>
                        <div class="flex justify-between mt-6">
                            <div class="message" style="display: none;"></div>
                            <div class="product-order">
                                <input type="hidden" id="g-recaptcha-response"
                                       name="g-recaptcha-response">
                                <input type="hidden" name="action" value="validate_captcha">
                                <button id="send-btn"
                                        type="submit"
                                        class="btn btn-lg btn-block request"
                                        data-sitekey="6LdX9CcpAAAAAHsbVpU56Az2rSTDJf4q7oCvys3z"
                                        data-action='submit'
                                        style="background-color: {{ currentCategory.color }};">
                                    {{ translations['Send']|trans }}
                                </button>
                                {#                                                    {% include('components/send_button.html.twig') %} #}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
